[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pyinstaller = "*"

[packages]
requests = "*"
configobj = "*"
pywin32 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
